<div class="separators">
<h3>Change the div size</h3>
    <button class="btn btn-success" (click)="changeState()">Change Size</button>
    <div [@changeDivSize]=currentState></div>
</div>

<div class="separators">
<h3>Balloon Effect</h3>
<div (click)="changeState()" class="ballonEffect" [@balloonEffect]=currentState></div>
</div>
<div class="separators">
<h3>Fade-In and Fade-Out animation</h3>

<button class="btn btn-success giveSpace" (click)="addItem()">Add List</button>
<button class="btn btn-success giveSpace" (click)="removeItem()">Remove List</button>

<div style="width:200px; margin-left: 20px">
  <ul>
    <li *ngFor="let list of listItem" [@fadeInOut]>
      {{list}}
    </li>
  </ul>
</div>
</div>
<div class="separators">
    <h3>Enter and Leave animation</h3>

    <button class="btn btn-success giveSpace" (click)="addItem()">Add List</button>
    <button class="btn btn-success giveSpace" (click)="removeItem()">Remove List</button>
    
    <div style="width:200px; margin-left: 20px">
      <ul>
        <li *ngFor="let list of listItem" [@EnterLeave]="'flyIn'">
          {{list}}
        </li>
      </ul>
    </div>    
</div>
<div class="row">
    <button class="btn btn-success bottom" (click)="goBack()">Go to Home</button>
</div>
